In [3]:
import pandas as pd
import numpy as np

In [4]:
ser = pd.Series(np.linspace(1,20,10))

In [5]:
ser

0     1.000000
1     3.111111
2     5.222222
3     7.333333
4     9.444444
5    11.555556
6    13.666667
7    15.777778
8    17.888889
9    20.000000
dtype: float64

In [7]:
jaipur = pd.Series(np.random.randint(50, 100, 10))

In [9]:
jaipur

0    78
1    59
2    70
3    54
4    85
5    86
6    91
7    82
8    77
9    65
dtype: int32

In [10]:
jaipur[5] = 56.5

In [11]:
jaipur

0    78.0
1    59.0
2    70.0
3    54.0
4    85.0
5    56.5
6    91.0
7    82.0
8    77.0
9    65.0
dtype: float64

In [12]:
jaipur[7] = 'A'

In [13]:
jaipur

0    78.0
1    59.0
2    70.0
3    54.0
4    85.0
5    56.5
6    91.0
7       A
8    77.0
9    65.0
dtype: object

In [14]:
type(jaipur[0])

float

In [15]:
type(jaipur[7])

str

In [16]:
jaipur[7] = 60

In [17]:
jaipur

0    78.0
1    59.0
2    70.0
3    54.0
4    85.0
5    56.5
6    91.0
7      60
8    77.0
9    65.0
dtype: object

In [18]:
jaipur.count()

10

In [19]:
ser

0     1.000000
1     3.111111
2     5.222222
3     7.333333
4     9.444444
5    11.555556
6    13.666667
7    15.777778
8    17.888889
9    20.000000
dtype: float64

In [21]:
ser.count()

10

In [22]:
ser[5] = np.nan

In [23]:
ser

0     1.000000
1     3.111111
2     5.222222
3     7.333333
4     9.444444
5          NaN
6    13.666667
7    15.777778
8    17.888889
9    20.000000
dtype: float64

In [24]:
ser.count()

9

In [25]:
jaipur.dtype

dtype('O')

In [26]:
jaipur.size

10

In [27]:
ser.size

10

In [28]:
ser.max()

20.0

In [29]:
ser.min()

1.0

In [30]:
jaipur.max()

91.0

In [31]:
type(jaipur)

pandas.core.series.Series

In [32]:
jaipur

0    78.0
1    59.0
2    70.0
3    54.0
4    85.0
5    56.5
6    91.0
7      60
8    77.0
9    65.0
dtype: object

In [33]:
jaipur.index

RangeIndex(start=0, stop=10, step=1)

In [34]:
jaipur[0]

78.0

In [35]:
jaipur[1]

59.0

In [36]:
jaipur.index = range(10, 20)

In [37]:
jaipur

10    78.0
11    59.0
12    70.0
13    54.0
14    85.0
15    56.5
16    91.0
17      60
18    77.0
19    65.0
dtype: object

In [39]:
jaipur[0]

KeyError: 0

In [40]:
jaipur[10]

78.0

In [41]:
jaipur.index = list("ABCDEFGHIJ")

In [42]:
jaipur

A    78.0
B    59.0
C    70.0
D    54.0
E    85.0
F    56.5
G    91.0
H      60
I    77.0
J    65.0
dtype: object

In [43]:
jaipur[0]

78.0

In [45]:
jaipur['A']

78.0

In [46]:
pd.DataFrame(jaipur.to_dict(), index=['AB'])

       A     B     C     D     E     F     G   H     I     J
AB  78.0  59.0  70.0  54.0  85.0  56.5  91.0  60  77.0  65.0

In [47]:
pd.DataFrame(jaipur.values.reshape(1,10))

      0     1     2     3     4     5     6   7     8     9
0  78.0  59.0  70.0  54.0  85.0  56.5  91.0  60  77.0  65.0

In [48]:
jaipur.to_csv()

',0\r\nA,78.0\r\nB,59.0\r\nC,70.0\r\nD,54.0\r\nE,85.0\r\nF,56.5\r\nG,91.0\r\nH,60\r\nI,77.0\r\nJ,65.0\r\n'

In [49]:
jaipur

A    78.0
B    59.0
C    70.0
D    54.0
E    85.0
F    56.5
G    91.0
H      60
I    77.0
J    65.0
dtype: object

In [50]:
jaipur['A']

78.0

In [51]:
jaipur['G']

91.0

In [52]:
jaipur['J']

65.0

In [53]:
jaipur[::-1]

J    65.0
I    77.0
H      60
G    91.0
F    56.5
E    85.0
D    54.0
C    70.0
B    59.0
A    78.0
dtype: object

In [54]:
jaipur[:-1]

A    78.0
B    59.0
C    70.0
D    54.0
E    85.0
F    56.5
G    91.0
H      60
I    77.0
dtype: object

In [55]:
jaipur[2:7]

C    70.0
D    54.0
E    85.0
F    56.5
G    91.0
dtype: object

In [56]:
jaipur['A':'F']

A    78.0
B    59.0
C    70.0
D    54.0
E    85.0
F    56.5
dtype: object

In [57]:
jaipur['A':'F':2]

A    78.0
C    70.0
E    85.0
dtype: object

In [58]:
ser

0     1.000000
1     3.111111
2     5.222222
3     7.333333
4     9.444444
5          NaN
6    13.666667
7    15.777778
8    17.888889
9    20.000000
dtype: float64

In [59]:
jaipur.dtype = np.int32

AttributeError: can't set attribute

In [62]:
ser.dtype

dtype('float64')

In [63]:
ser.argmin()

0

In [64]:
ser

0     1.000000
1     3.111111
2     5.222222
3     7.333333
4     9.444444
5          NaN
6    13.666667
7    15.777778
8    17.888889
9    20.000000
dtype: float64

In [65]:
ser.nlargest()

9    20.000000
8    17.888889
7    15.777778
6    13.666667
4     9.444444
dtype: float64

In [66]:
ser.nlargest(3)

9    20.000000
8    17.888889
7    15.777778
dtype: float64

In [67]:
ser.nsmallest()

0    1.000000
1    3.111111
2    5.222222
3    7.333333
4    9.444444
dtype: float64

In [68]:
ser.head()

0    1.000000
1    3.111111
2    5.222222
3    7.333333
4    9.444444
dtype: float64

In [69]:
ser.tail()

5          NaN
6    13.666667
7    15.777778
8    17.888889
9    20.000000
dtype: float64

In [71]:
jaipur[jaipur>70]

A    78.0
E    85.0
G    91.0
I    77.0
dtype: object

In [72]:
jaipur > 70

A     True
B    False
C    False
D    False
E     True
F    False
G     True
H    False
I     True
J    False
dtype: bool

In [73]:
jaipur*4

A    312.0
B    236.0
C    280.0
D    216.0
E    340.0
F    226.0
G    364.0
H      240
I    308.0
J    260.0
dtype: object

In [74]:
df = pd.DataFrame({
    "Name": ['Virat', 'Anushka', 'Mohit', 'Rohit', 'Modi', 'Shubham', 'Nitin'],
    "Age": np.random.randint(20, 30, 7),
    "Gender": pd.Categorical(['M', 'F', 'M', 'M', 'M', 'M', 'M'])
})

In [75]:
df

      Name  Age Gender
0    Virat   20      M
1  Anushka   22      F
2    Mohit   28      M
3    Rohit   28      M
4     Modi   24      M
5  Shubham   25      M
6    Nitin   23      M

In [76]:
df.loc[6,'Gender'] = "Male"

TypeError: Cannot setitem on a Categorical with a new category (Male), set the categories first

In [77]:
df

      Name  Age Gender
0    Virat   20      M
1  Anushka   22      F
2    Mohit   28      M
3    Rohit   28      M
4     Modi   24      M
5  Shubham   25      M
6    Nitin   23      M

In [78]:
df.head()

      Name  Age Gender
0    Virat   20      M
1  Anushka   22      F
2    Mohit   28      M
3    Rohit   28      M
4     Modi   24      M

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int32
 2   Gender  7 non-null      category
dtypes: category(1), int32(1), object(1)
memory usage: 343.0+ bytes

In [80]:
df.describe()

             Age
count   7.000000
mean   24.285714
std     2.984085
min    20.000000
25%    22.500000
50%    24.000000
75%    26.500000
max    28.000000

In [81]:
df.describe(include="all")

         Name        Age Gender
count       7   7.000000      7
unique      7        NaN      2
top     Virat        NaN      M
freq        1        NaN      6
mean      NaN  24.285714    NaN
std       NaN   2.984085    NaN
min       NaN  20.000000    NaN
25%       NaN  22.500000    NaN
50%       NaN  24.000000    NaN
75%       NaN  26.500000    NaN
max       NaN  28.000000    NaN