In [1]:
import seaborn as sns

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [3]:
help(sns.load_dataset)

Help on function load_dataset in module seaborn.utils:

load_dataset(name, cache=True, data_home=None, **kws)
    Load an example dataset from the online repository (requires internet).

    This function provides quick access to a small number of example datasets
    that are useful for documenting seaborn or generating reproducible examples
    for bug reports. It is not necessary for normal usage.

    Note that some of the datasets have a small amount of preprocessing applied
    to define a proper ordering for categorical variables.

    Use :func:`get_dataset_names` to see a list of available datasets.

    Parameters
    ----------
    name : str
        Name of the dataset (``{name}.csv`` on
        https://github.com/mwaskom/seaborn-data).
    cache : boolean, optional
        If True, try to load from the local cache first, and save to the cache
        if a download is required.
    data_home : string, optional
        The directory in which to cache data; see :func:`get_data_home`.
    kws : keys and values, optional
        Additional keyword arguments are passed to passed through to
        :func:`pandas.read_csv`.

    Returns
    -------
    df : :class:`pandas.DataFrame`
        Tabular data, possibly with some preprocessing applied.

In [4]:
tip = sns.load_dataset("tips")

In [5]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
tip.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [8]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
tip['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [10]:
tip['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [11]:
tip['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [12]:
tip['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [13]:
tip[tip['smoker']=='Yes']['sex'].value_counts()

Male      60
Female    33
Name: sex, dtype: int64

In [14]:
((tip['smoker'] == "Yes") & (tip['sex'] == "Male")).sum()

60

In [15]:
((tip['smoker'] == "Yes") & (tip['sex'] == "Female")).sum()

33

In [16]:
type(tip[tip['smoker'] == 'Yes']['sex'].value_counts())

pandas.core.series.Series

In [17]:
type(tip)

pandas.core.frame.DataFrame

In [18]:
type(tip['tip'])

pandas.core.series.Series

In [19]:
type(tip[['tip']])

pandas.core.frame.DataFrame

In [20]:
tip[['tip', 'total_bill']]

      tip  total_bill
0    1.01       16.99
1    1.66       10.34
2    3.50       21.01
3    3.31       23.68
4    3.61       24.59
..    ...         ...
239  5.92       29.03
240  2.00       27.18
241  2.00       22.67
242  1.75       17.82
243  3.00       18.78

[244 rows x 2 columns]

In [21]:
tip[0]

KeyError: 0

In [22]:
tip.loc[0]

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [23]:
tip.loc[0,'tip']

1.01

In [24]:
tip.loc[::2,'tip']

0      1.01
2      3.50
4      3.61
6      2.00
8      1.96
       ...
234    3.00
236    1.00
238    4.67
240    2.00
242    1.75
Name: tip, Length: 122, dtype: float64

In [25]:
tip.loc[:,0]

KeyError: 0

In [26]:
tip.loc[:, ['tip','total_bill']]

      tip  total_bill
0    1.01       16.99
1    1.66       10.34
2    3.50       21.01
3    3.31       23.68
4    3.61       24.59
..    ...         ...
239  5.92       29.03
240  2.00       27.18
241  2.00       22.67
242  1.75       17.82
243  3.00       18.78

[244 rows x 2 columns]

In [27]:
tip.iloc[0, 0]

16.99

In [28]:
tip

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [29]:
tip.iloc[0, 'tip']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [30]:
tip

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [31]:
tip.iloc[0, 1]

1.01

In [32]:
tip.iloc[::2, ::2]

     total_bill     sex  day  size
0         16.99  Female  Sun     2
2         21.01    Male  Sun     3
4         24.59  Female  Sun     4
6          8.77    Male  Sun     2
8         15.04    Male  Sun     2
..          ...     ...  ...   ...
234       15.53    Male  Sat     2
236       12.60    Male  Sat     2
238       35.83  Female  Sat     3
240       27.18  Female  Sat     2
242       17.82    Male  Sat     2

[122 rows x 4 columns]

In [33]:
tip.iloc[1:7, [2, 3]]

      sex smoker
1    Male     No
2    Male     No
3    Male     No
4  Female     No
5    Male     No
6    Male     No

        at 
        
            at[row_label, col_label]
            
        iat 
            
            iat[row_index, col_index]

In [34]:
tip.at[0, 'tip']

1.01

In [35]:
tip.at[::2, ::2]

TypeError: unhashable type: 'slice'

In [36]:
tip.iat[0, 0]

16.99

In [37]:
tip.iat[::2, ::2]

ValueError: iAt based indexing can only have integer indexers

In [38]:
tip.loc[10,'smoker']

'No'

In [39]:
%%timeit

tip.loc[10, 'smoker']

34.8 µs ± 6.59 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [40]:
%%timeit

tip.at[10, 'smoker']

19.2 µs ± 1.3 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [41]:
%%timeit

tip.iloc[10, 3]

59.2 µs ± 4.17 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [42]:
%%timeit

tip.iat[10, 3]

45.9 µs ± 2.62 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [43]:
tip

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

#### Which gender gives maximum tip

In [44]:
tip[tip['tip'] == tip['tip'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [45]:
tip[tip['time'] == "Lunch"]['size'].value_counts()

2    52
4     5
3     5
6     3
1     2
5     1
Name: size, dtype: int64

In [46]:
tip[tip['time'] == "Dinner"]['size'].value_counts()

2    104
3     33
4     32
5      4
1      2
6      1
Name: size, dtype: int64

In [47]:
tip

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [48]:
tip[tip['time'] == "Dinner"]['total_bill'].sum()

3660.3

In [49]:
tip[tip['time'] == "Dinner"]['total_bill'].mean()

20.79715909090909

In [50]:
tip[tip['time'] == "Lunch"]["total_bill"].sum()

1167.47

In [51]:
tip['tip']*2

0       2.02
1       3.32
2       7.00
3       6.62
4       7.22
       ...
239    11.84
240     4.00
241     4.00
242     3.50
243     6.00
Name: tip, Length: 244, dtype: float64